.page-title {
	background-color: #17202a!important;
	font-size: 22px!important;
	padding: 4px!important;
	margin-top: 2px!important;
	margin-bottom: 2px!important;
	border-radius: 4px!important;
}


.page-title-err {
	background-color: #7b241c!important;
	font-size: 22px!important;
	padding: 4px!important;
	margin-top: 2px!important;
	margin-bottom: 2px!important;
	border-radius: 4px!important;
}


.page-title-inner {
	font-size:30px!important; 
	font-family: Cambria!important; 
	text-transform: capitalize!important;
}


.big-border {
	background-color: #fef9e7!important;
	padding: 20px!important;
	color: #641e16!important;
	font-size: 25px!important;
	height: auto!important;
	margin:  20px!important;
}

.hr-medium {
	height: 5px!important; 
	background-color: #b9770e!important;
}

.hr-small {
	height: 2px!important; 
	background-color: grey!important;
}

.hr-grey {
	height: 3px!important; 
	background-color: grey!important;
}

.summary-image {
	height: 140px!important;
	width: auto!important;
}

.content-mains {
	margin-bottom: 15px!important;
	background-color: #fef9e7!important;
}

.small-x-h {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}


.left-border {
	border-left: 10px solid grey!important;
	padding-left: 10px!important;
}

.iradu-nav {
	padding-top: 10px;
	color: #fadbd8!important;
}





/************** Tabbed shit ***************/

/* Style tab links */
.tablink {
  background-color: #FFCC99;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 33.3%;
  font-weight: bold;
  border-right: none;
  border-radius: 35px 35px 0 0!important;
}

.tablink:first-child {
	/*border-left: 4px solid #777!important;*/
}


.tablink:hover {
  background-color: #003399;
  color: #85c1e9!important;
}

.tabcontent {
	background-color: #FFF;
	color: #000;
	display: none;
	padding: 40px 10px 10px 30px!important;
	height: 100%;
	border-left: 4px solid #777;
	border-radius: 35px 35px 0 0!important;
}